*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}


:root {
  --hue-neutral: 276.9;
  --hue-wrong: 0;
  --hue-correct: 145;
}


body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong)
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 20px 0;
}


.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.correct-answer {
  background-color: #c8e6c9; /* Light green */
}

.wrong-answer {
background-color: #ffcdd2; /* Light red */
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px, 20px;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px, 20px;
  margin-top: 10px
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  padding: .5rem;
  border-right: 2px solid hsl(50.6, 100%, 50%);
  color: white
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px, 20px;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.answer {
  position: inherit;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  margin-left: 10px;
}

.song-submit-btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid hsl(50.6, 100%, 50%);
}

.choices-table {
  display: table;
  padding-top: 10px;
  width: 50%;
}

.left-column, .right-column, .center-column{
  display: table-cell;
  vertical-align: top;
  padding: 0;
}

.left-column, .center-column{
  border-right: none;
}

.choices-table label {
  display: block;
  margin-bottom: 0 px;
}

